/* Overall container styling */
/* PasswordResetPage.css */


/* Additional styling for your content */

.password-reset-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;

}

/* Header styling */
.password-reset-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Input styling */
.password-reset-container input {
  width: 90%;
  padding:10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
align-content: center;
  box-sizing: border-box;
  font-size: 16px;
}

/* Button styling */
.password-reset-container button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(135deg, #191d20da, #2781b6); 
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.password-reset-container button:hover {
  background-color: #0056b3;
}

/* Message styling */
.password-reset-container p {
  text-align: center;
  color: #333;
  margin-top: 20px;
}
h6{
  margin:30px
}
